.TBxAN {
    cursor: pointer;
}
._1jqTo {
    border-right: 1px dashed rgb(70 81 102/0.7);
}

.Pai3l {
    margin-top: 28px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}
.Pai3l ._1OzPP {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 22px;
    margin-bottom: 8px;
    color: #f69b00;
}
.Pai3l p._16007 {
    color: #465166;
    margin-bottom: 0;
}
.Pai3l p._16007,
.Pai3l span {
    font-size: 12px;
    line-height: 16px;
}
.Pai3l span {
    color: #ff6359;
    display: block;
}
.rk1q- {
    margin-bottom: 110px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: relative;
}

._1SCXC {
    margin-right: 25px;
}
._3uDIe {
    width: 100%;
}
.Pai3l ._1OzPP {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 22px;
    margin-bottom: 8px;
    color: #f69b00;
}
.Pai3l p._16007 {
    color: #465166;
    margin-bottom: 0;
}
.Pai3l p._16007,
.Pai3l span {
    font-size: 12px;
    line-height: 16px;
}
._2bO94 {
    max-width: 280px;
    margin-top: 20px;
    margin-left: 70px;
}
.Komfq {
    padding-left: 108px;
}
.Pai3l ._1OzPP {
    font-weight: 700;
    font-size: 20px !important;
    line-height: 22px;
    margin-bottom: 8px;
    color: #f69b00;
}
.Pai3l p._16007 {
    color: #465166;
    margin-bottom: 0;
}
.Pai3l p._16007,
.Pai3l span {
    font-size: 12px;
    line-height: 16px;
}
._1K8Qe {
    padding-bottom: 17px;
    padding-top: 30px;
}
._1K8Qe > div {
    width: 400px;
}
._1K8Qe > div > div {
    margin-bottom: 0;
}
.current-location-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.current-location-div input {
    margin-right: 16px;
    height: 48px;
}
.current-location-div button {
    max-width: 170px;
}
@media (max-width: 767px) {
    .current-location-div button {
        max-width: 120px;
    }
}
.use-current-location-span {
    position: absolute;
    right: -10px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    top: 37%;
}

._2iiQB {
    position: relative;
    height: 48px;
    padding: 0 0.75rem;
    border-radius: 5px;
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    border: none;
    outline: none;
    -webkit-box-shadow: 0 4px 8px 0 rgba(237, 108, 13, 0.5);
    box-shadow: 0 4px 8px 0 rgba(237, 108, 13, 0.5);
}
._2iiQB:active,
._2iiQB:focus {
    color: #fff !important;
}

._3qpfi {
    color: #fff;
    font-weight: 700;
    background-color: #ed6c0d;
    background-image: linear-gradient(261deg, #f69b00, #ed6a00);
    font-size: 16px;
    letter-spacing: 0.4px;
}