<div class="container">
    <h3>Please setup location
        <div class="float-right TBxAN"><img src="https://www.cars24.com/js/c359031b4f95d1bf29339e92900030ba.svg" alt="close"></div>
    </h3>
    <p>Help us with your location so we can serve you better.</p>
    <div class="d-flex">
        <div class="rk1q- _1jqTo">
            <div class="Pai3l">
                <div class="_1SCXC"><img src="https://www.cars24.com/js/edd758a20a7a5ca2b71d6cea08ab8265.svg"></div>
                <div class="_3uDIe">
                    <div class="_1OzPP">Use my current location</div>
                    <p class="_16007">We’ll need permission to use your device’s location</p>
                </div>
            </div>
            <div class="_2bO94"><button id="" data-title="" type="button" class="btn  _2iiQB _3qpfi "><img src="https://www.cars24.com/js/3ceb2d0423202d9d1e5c12da0696215f.svg" class="_3wjPy">USE CURRENT LOCATION </button></div><span class="use-current-location-span">OR</span></div>
        <div class="rk1q- Komfq">
            <div class="Pai3l">
                <div class="_1SCXC"><img src="https://www.cars24.com/js/0d56feed74a57a54fc839b52c158e620.svg"></div>
                <div class="_3uDIe">
                    <div class="_1OzPP">Use my pincode</div>
                    <p class="_16007">Enter the pincode of your location</p>
                </div>
            </div>
            <div class="_1K8Qe">
                <div class="current-location-div"><input class="form-control" id="" type="text" maxlength="6" autocomplete="off" placeholder="Enter pincode" value="160064"><button id="" data-title="" type="button" class="btn  _2iiQB _3qpfi ">APPLY </button></div>
            </div>
        </div>
    </div>
</div>