
<form [formGroup]="myForm" (ngSubmit)="submit()">
<div class="contact-2 content-area-5">
   
    <div class="container">
        
        <div class="car-brand {{step1 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}" >
            <span class="select-car-brand-span">
            </span>
         
            <div>
            <ul class="row row-car-brand">
                <ng-container  *ngFor="let sort of AddNewCarListModel.MakeType" >
            <li class="li-car-brand" *ngIf="sort.logoImages">
            <div class="text-center div-car-brand {{applyclassactiveMake === sort.id ? 'div-car-brand-active' : ''}}" (click)="clickMake(sort.id)" >
                <img style="height: 60px;width: 70px;" [id]="sort.id" data-title="sort.name" src='{{ "/assets/images/car_make_images/" +sort.logoImages }}' [alt]="sort.name" class="img-fluid _1jMfy">
            </div>
           </li>
        </ng-container>
            </ul>
            </div>
            </div>
            <div class="row py-4 m-0 car-model {{step2 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}" >
                <div class="col-md-11 p-0">
                    
                    <span class="select-car-model">Select Your Car Model, Fual Type and Varient</span>

                    <span  class="lnr lnr-arrow-left modelback" (click)="backtomake()">
                        BACK
                    </span>
                    <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep3()">
                        NEXT
                    </span>
                  
                </div>
                 
                  
                <div class="col-md-7 p-0" >
                    <select formControlName="model"  (change)='getVarientList(selectModal.value)'  class="form-control drp-add-new-car" 
                    #selectModal>
                        <option selected  disabled value="">Select Model Type*</option>
                       
                        <option  *ngFor="let sort of AddNewCarListModel.CarModel" 
                        [value]="sort.id">
                        {{sort.name}}
                    </option>
                    </select>
            </div>
            <div class="col-md-7 p-0" style="margin-top: 50px;">
                <select formControlName="fualtype" class="form-control drp-add-new-car" 
                #fualType>
                    <option selected  disabled value="">Select Fual Type*</option>
                   
                    <option *ngFor="let sort of AddNewCarListModel.Fuel" 
                    [value]="sort.id">
                    {{sort.name}}
                </option>
                </select>
        </div>

        <div class="col-md-7 p-0" style="margin-top: 50px;">
            <select formControlName="varient" (change)='moveNextStep3()'  class="form-control drp-add-new-car" 
            #selectVarient>
                <option selected  disabled value="">Select Car Varient*</option>
               
                <option *ngFor="let sort of AddNewCarListModel.Variant" 
                [value]="sort.id">
                {{sort.name}}
            </option>
            </select>
    </div>

   

           
            <!-- <div class="d-block"><span class="popular-model-div">Popular Models</span></div> -->
            <div class="col-md-12 p-0 innerRow">
                <div class="innerRow">
                    <div class="row ml-0">
                        <div class="col-6 cars-popular-models" *ngFor="let sort of AddNewCarListModel.CarModel" >
                            <div *ngIf="(sort.popular == true)"  class="card car-card">{{sort.name}}</div>
                        </div>
                       
                    </div>
                </div>
            </div>
           
    </div>


    <div class="row py-4 m-0 car-varient {{step3 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">
        <div class="col-md-11 p-0">
                    
            <span class="select-car-model">Select Year, Condition, Price</span>

            <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep2()">
                BACK
            </span>
            <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep4()">
                NEXT
            </span>
        </div>

        <div class="col-md-7 p-0" >
            <select formControlName="year" (change)='getVarientList(selectModal.value)'  class="form-control drp-add-new-car" 
            #selectYear>
                <option selected  disabled value="">Select Year*</option>
               
                <option  *ngFor="let sort of AddNewCarListModel.Year" 
                [value]="sort.id">
                {{sort.name}}
            </option>
            </select>
    </div>
    <div  class="col-md-7 p-0" style="margin-top: 50px;">
        <select formControlName="condition"  class="form-control drp-add-new-car" 
        #selectCondition>
            <option selected  disabled value="">Select Condition*</option>
           
            <option *ngFor="let sort of AddNewCarListModel.Condition" 
            [value]="sort.id">
            {{sort.condition}}
        </option>
        </select>
</div>

<div class="col-md-7 p-0" style="margin-top: 50px;">
    <!-- <select *ngIf="pricedrop" formControlName="price" (change)='ChangePrice()' class="form-control drp-add-new-car" 
    #selectPrice>
        <option selected  disabled value="">Select Price*</option>
        <option  value="Other">Other</option>
        <option *ngFor="let sort of AddNewCarListModel.Price" 
        [value]="sort.price">
        {{sort.price}}
    </option>
    </select> -->
    <input type="number"  name="price" 
    formControlName="price" 
    class="form-control" (change)="moveNextStep4()" placeholder="Price*" #price>
</div>

    </div>

    <div class="row m-0 py-4 car-year {{step4 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">

        <div class="col-md-12 p-0">
                    
            <span class="select-car-model">Select Kilometer driven, Transmission, Drive Train</span>

            <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep3()">
                BACK
            </span>
            <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep5()">
                NEXT
            </span>
        </div>
        <div class="col-md-7 p-0" >
            <!-- <select formControlName="kilometer"  (change)='getVarientList(selectModal.value)'  class="form-control drp-add-new-car" 
            #selectKilometer>
                <option selected  disabled value="">Select Kilometer driven*</option>
               
                <option value="1000">> 1000</option>
                <option value="2500">> 2500</option>
                <option value="5000">> 5000</option>
                <option value="10000">> 10000</option>
                <option value="Other">Other</option>
            </select> -->

            <input type="text"  name="kilometer"
            formControlName="kilometer"
         class="form-control"  placeholder="Kilometer driven*" #kilometer>


    </div>

    <div class="col-md-7 p-0" style="margin-top: 50px;">
        <select  formControlName="transmission" class="form-control drp-add-new-car" 
        #selectTransmission>
            <option selected  disabled value="">Select Transmission*</option>
           
            
                                    <option *ngFor="let sort of AddNewCarListModel.Transmission" 
                                    [value]="sort.id">
                                    {{sort.name}}
                                </option>
        </select>
</div>

<div class="col-md-7 p-0" style="margin-top: 50px;">
    <select formControlName="drivetrain" (change)="moveNextStep5()"  class="form-control drp-add-new-car" 
    #selectDrivetrain>
        <option selected  disabled value="">Select Drive Train*</option>
        
        <option value="Front Wheel Drive">Front Wheel Drive</option>
        <option value="Rear Wheel Drive">Rear Wheel Drive</option>
        <option value="All Wheel Drive">All Wheel Drive</option>
        <option value="4x4">4x4</option>
        <option value="Other">Other</option>
    </select>

  
</div>
</div>


<div class="row py-4 m-0 car-reg-state {{step5 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">
  
    <div class="col-md-12 p-0">
                    
        <span class="select-car-model">Select Cylinder, Body Type, Color</span>
        <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep4()">
            BACK
        </span>
        <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep6()">
            NEXT
        </span>
    </div>

    <div class="col-md-7 p-0" >
        <select formControlName="cylinder"  class="form-control drp-add-new-car" 
        #selectCylinder>
            <option selected  disabled value="">Select Cylinder*</option>
           formControlName="cylinder"
                                    <option *ngFor="let sort of AddNewCarListModel.Cylinder" 
                                    [value]="sort.id">
                                    {{sort.name}}
                                </option>
        </select>
    </div>
        <div class="col-md-7 p-0" style="margin-top: 50px;">
            <select formControlName="bodytype" class="form-control drp-add-new-car" 
            #selectBodytype>
                <option selected  disabled value="">Select Body Type*</option>
               
                
                                        <option *ngFor="let sort of AddNewCarListModel.BodyType" 
                                        [value]="sort.id">
                                        {{sort.name}}
                                    </option>
            </select>

            <div (change)="moveNextStep6()" class="col-md-7 p-0" style="margin-top: 50px;">
                <select  formControlName="color" class="form-control drp-add-new-car" 
                #selectColor>
                    <option selected  disabled value="">Select color*</option>
                   
                    
                                            <option *ngFor="let sort of AddNewCarListModel.Color" 
                                            [value]="sort.id">
                                            {{sort.name}}
                                        </option>
                </select>
</div>

</div>
</div>


<div class="row py-4 m-0 car-reg-state {{step6 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">
  
    <div class="col-md-12 p-0">
                    
        <span class="select-car-model">Select AirCondition, Auction Grade</span>
        <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep5()">
            BACK
        </span>
        <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep7()">
            NEXT
        </span>
    </div>

    <div class="col-md-7 p-0" >
        <select formControlName="aircondition"  class="form-control drp-add-new-car" 
        #selectAircondition>
            <option selected  disabled value="">Select AirCondition*</option>
           
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <div class="col-md-7 p-0" style="margin-top: 50px;">
            <select formControlName="auctiongrade"    class="form-control drp-add-new-car" 
            #selectAuctiongrade>
                
                <option selected value="" disabled>Select Auction Grade*</option>
                <option value="Grade 4">Grade 4</option>
                <option value="Grade 3.5">Grade 3.5</option>
                <option value="Grade 3">Grade 3</option>
                <option value="Grade 2">Grade 2</option>
            </select>

           
</div>

<div class="col-md-7 p-0" style="margin-top: 50px;">
    <select (change)="moveNextStep7()" formControlName="enginesize" class="form-control drp-add-new-car" 
    #selectEngineSize>
        <option selected  disabled value="">Engine Size*</option>
                                       <option *ngFor="let sort of AddNewCarListModel.enginesize" 
                                [value]="sort.id">
                                {{sort.name}}
                            </option>
    </select>
</div>




    </div>        
</div>


<div class="row py-4 m-0 car-reg-state {{step7 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">
  
    <div class="col-md-12 p-0">
                    
        <span class="select-car-model">Select Odometer, Vin, Registration number</span>
        <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep6()">
            BACK
        </span>
        <span  class="lnr lnr-arrow-right modelback" (click)="moveNextStep8()">
            NEXT
        </span>
    </div>

    <div class="col-md-7 p-0" >
        <select formControlName="odometer"  class="form-control drp-add-new-car" 
        #odometer>
            <option selected  disabled value="">Select Odometer*</option>

            <option value="4000">4000</option>
            <option value="5000">5000</option>
            <option value="6000">6000</option>
            <option value="7000">7000</option>
            <option value="8000">8000</option>           
            <option value="9000">9000</option>
        </select>

        <div class="col-md-7 p-0" style="margin-top: 50px;">
           
             
                <input type="text"  name="vin"
                formControlName="vin"
             class="form-control" placeholder="VIN*" #vin>

           
</div>
<div class="col-md-7 p-0" style="margin-top: 50px;">
      <input type="text"  name="regnumber"
    formControlName="regnumber"
 class="form-control" placeholder="Reg Number*" #regnumber>
</div>

<div class="col-md-7 p-0" style="margin-top: 50px;">
    <textarea class="form-control" formControlName="description" maxlength="1500"
    placeholder="Description*" #description
      rows="3" (change)="moveNextStep8()"></textarea>
   </div>
</div>        
</div>
<div class="row py-4 m-0 {{step8 == true ? 'sell-car-steps-active': 'sell-car-steps-deactive'}}">
    <div class="col-md-11 p-0">                    
        <span class="select-car-model">Select Files(Max 20)</span>
        <span  class="lnr lnr-arrow-left modelback" (click)="moveNextStep7()">
            BACK
        </span>
      
    </div>
    <div class="col-md-7 p-0" >
    <input #inputFile
            formControlName="file"
            id="file" 
            type="file" 
            class="form-control"
            multiple="" 
            (change)="onFileChange($event,inputFile.files)">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>              
            </div>
            <img *ngFor='let url of images'  [src]="url" height="100px" width="100px" style="margin: 3px;">
<div class="col-md-11 p-0" style="margin-top: 50px;">
                          </div>
    </div>


    <div  class="col-md-7 p-0" style="margin-top: 50px;">
        <select  formControlName="contactprefrencetype"   
         class="form-control drp-add-new-car" 
        #Contactprefrencetype (change)='changeprefrencetype()'>
      
            <option selected >Get contacted via*</option>
            <option value="Call">Via Call</option>
            <option value="Email">Via Email</option>
            <option value="MessagingSystem">Our Messaging System</option>
            <option value="Whatsapp">Whatsapp</option>
        </select>
    </div>
    
    <div class="col-md-7 p-0" style="margin-top: 50px;">
       
        <input type="text" *ngIf="PrefrenceType !=''" name="Contactprefrencedetail"
        formControlName="contactprefrencedetail"
     class="form-control"  placeholder="{{PrefrenceType}}" #kilometer>
    
    </div>
    <div class="col-md-7 p-0" style="margin-top: 50px;">
        <button class="btn btn-primary" (click)="emptyImagesArray()" type="button">Cancel</button>
        <button class="btn btn-primary" style="margin-left: 20px;"type="submit" >Submit</button>
   
    </div>
</div>




    </div>
</div></form>