<!-- Blog start -->
<div class="blog content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Blog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x252" alt="blog-3" class="img-fluid">
                            <div class="date-box-2 db-2">27 Feb</div>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">Buying a Best Sports Car</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <a href="blog-details.html" class="b-btn ">Rea more...!</a>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x252" alt="blog-3" class="img-fluid">
                            <div class="date-box-2 db-2">14 Aug</div>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">Selling Your New Cars?</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <a href="blog-details.html" class="b-btn ">Rea more...!</a>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x252" alt="blog-3" class="img-fluid">
                            <div class="date-box-2 db-2">09 Sep</div>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">Find Your Dream Car</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <a href="blog-details.html" class="b-btn ">Rea more...!</a>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-3">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x252" alt="blog-3" class="img-fluid">
                            <div class="date-box-2 db-2">27 Nov</div>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                        </div>
                        <div class="detail">
                            <h3>
                                <a href="blog-details.html">Find Your Dream Car</a>
                            </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                            <a href="blog-details.html" class="b-btn ">Rea more...!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->

<!-- Partners strat -->
<div class="partners bg-grea-3">
    <div class="container">
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 5, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}}, {"breakpoint": 768,"settings":{"slidesToShow": 2}}]}'>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
                <div class="slick-slide-item"><img src="http://placehold.it/160x60" alt="brand" class="img-fluid"></div>
            </div>
        </div>
    </div>
</div>
<!-- Partners end -->