<!-- Our team start -->
<div class="our-team content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Agent</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="team-3">
                        <div class="photo">
                            <a href="#">
                                <img src="http://placehold.it/350x379" alt="team-3" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="agent-detail.html">Brandon Miller</a></h4>
                            <h5>Manager</h5>
                            <h6>+1 204 777 0187</h6>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-3">
                        <div class="photo">
                            <a href="#">
                                <img src="http://placehold.it/350x379" alt="team-3" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="agent-detail.html">Michelle Nelson</a></h4>
                            <h5>Support Manager</h5>
                            <h6>+1 204 777 0187</h6>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-3">
                        <div class="photo">
                            <a href="#">
                                <img src="http://placehold.it/350x379" alt="team-3" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="agent-detail.html">Stone Carolyn</a></h4>
                            <h5>Creative Director</h5>
                            <h6>+1 204 777 0187</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->